# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
*.egg-info/
dist/
build/

# Django
*.sqlite3
*.db
.env
local_settings.py

# Node / Tailwind
node_modules/
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


# Static & media
staticfiles/
media/