{% extends "app/base.html" %}

{% block body_class %}min-h-screen flex flex-col font-body-md text-body-md bg-surface text-on-surface{% endblock %}

{% block body %}
    <header class="w-full top-0 sticky z-50 bg-surface flex justify-between items-center px-margin-desktop py-6 max-w-container-max-width mx-auto">
        <a href="{% url 'home' %}" class="text-headline-lg font-headline-lg text-primary tracking-tight transition-opacity active:opacity-70">
            Porcion
        </a>
        <div class="hidden md:flex items-center gap-gutter">
            <a class="text-label-md font-label-md text-on-surface-variant hover:text-primary transition-colors duration-300" href="{% url 'home' %}">Our Method</a>
            {% block auth_nav %}
            <a class="text-label-md font-label-md text-primary font-bold" href="{% url 'login' %}">Log In</a>
            {% endblock %}
        </div>
    </header>

    <main class="flex-grow flex flex-col md:grid md:grid-cols-12 min-h-[calc(100vh-88px)]">
        {% block content %}{% endblock %}
    </main>
{% endblock %}
